
<h1>Terminales</h1>
<div class="terminales-container">
    
<div class="container">
    <div class="card">
      <div class="card-icon">
        <img src="assets/paradalogo.png" alt="" class="card-icon">
      </div>
      <div class="card-name">Verdes</div>
    </div>
    <div class="card">
        <div class="card-icon">
         <img src="assets/paradalogo.png" alt="" class="card-icon">
        </div>
        <div class="card-name">Verdes</div>
      </div>
    <div class="action-buttons">
      <button class="action-button" routerLink="/agregarTerminal">
        Agregar terminal <i class="bx bxs-plus-square"></i>
      </button>      
    <button class="action-button">Mis terminales <i class='bx bx-book-content'></i></button></div>
  </div>
</div>