<div class="body1">
<h1>Información de la Terminal</h1>
<div class="terminales">
  <div class="terminal-container">
    <div class="form-fields">
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" placeholder="Nombre" [(ngModel)]="terminal.nombre" disabled />
        <label for="numExterior">Num Exterior</label>
        <input id="numExterior" type="text" placeholder="Num Exterior" [(ngModel)]="terminal.direccion.num" disabled />
      </div>
      <div class="input-group" *ngIf="terminal?.direccion">
        <label for="codigoPostal">Código Postal</label>
        <input id="codigoPostal" type="text" placeholder="Codigo Postal" [(ngModel)]="terminal.direccion.cp" disabled />
        <label for="estado">Estado</label>
        <input id="estado" type="text" placeholder="Estado" [(ngModel)]="terminal.direccion.estado" disabled />
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <label for="calle">Calle</label>
        <input id="calle" type="text" placeholder="Calle" [(ngModel)]="terminal.direccion.calle" disabled />
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text" placeholder="Teléfono" [(ngModel)]="terminal.telefono" disabled />
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <label for="colonia">Colonia</label>
        <input id="colonia" type="text" placeholder="Colonia" [(ngModel)]="terminal.direccion.colonia" disabled />
        <label for="horarioApertura">Apertura</label>
        <input id="horarioApertura" type="text" placeholder="Horario de Apertura" [(ngModel)]="terminal.horarioApertura" disabled />
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <label for="municipio">Municipio</label>
        <input id="municipio" type="text" placeholder="Municipio" [(ngModel)]="terminal.direccion.municipio" disabled />
        <label for="horarioCierre">Cierre</label>
        <input id="horarioCierre" type="text" placeholder="Horario de Cierre" [(ngModel)]="terminal.horarioCierre" disabled />
      </div>
      <div class="buttons">
        <button type="button" class="carlist" [routerLink]="['/unidadeslist', terminal.id]">Unidades <i class='bx bxs-bus' > </i></button>
        <button type="button" class="edit" (click)="abrirModal()">Editar <i class='bx bxs-edit-alt'> </i></button>
        <button type="button" class="edit" [routerLink]="['/mostrarChoferes', terminal.id]">Choferes <i class='bx bxs-id-card'></i></button>
        <button type="button" class="edit" (click)="verRuta(terminal.ruta_id)">Ver ruta <img src="assets/ruta.png" alt=""></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para edición -->
<div class="modal" *ngIf="modalVisible">
  <div class="modal-content">
    <h2>Editar Terminal</h2>
    <div class="input-group" *ngIf="terminal && terminal.direccion">
      <label for="nombreModal">Nombre</label>
      <input id="nombreModal" type="text" placeholder="Nombre" [(ngModel)]="terminal.nombre" />
      <label for="numExteriorModal">Num Exterior</label>
      <input id="numExteriorModal" type="text" placeholder="Num Exterior" [(ngModel)]="terminal.direccion.num" />
    </div>
    <div class="input-group" *ngIf="terminal?.direccion">
      <label for="codigoPostalModal">Código Postal</label>
      <input id="codigoPostalModal" type="text" placeholder="Código Postal" [(ngModel)]="terminal.direccion.cp" (blur)="obtenerColoniasPorCP()" />
    </div>
    <div class="input-group">
      <label for="coloniaModal">Colonia</label>
      <select id="coloniaModal" [(ngModel)]="terminal.direccion.colonia">
        <option *ngFor="let colonia of colonias" [value]="colonia">{{ colonia }}</option>
      </select>
    </div>
    <div class="input-group">
      <label for="estadoModal">Estado</label>
      <input id="estadoModal" type="text" placeholder="Estado" [(ngModel)]="terminal.direccion.estado" disabled/>
      <label for="calleModal">Calle</label>
      <input id="calleModal" type="text" placeholder="Calle" [(ngModel)]="terminal.direccion.calle" />
    </div>
    <div class="input-group">
      <label for="telefonoModal">Teléfono</label>
      <input id="telefonoModal" type="text" placeholder="Teléfono" [(ngModel)]="terminal.telefono" />
      <label for="horarioAperturaModal">Horario de Apertura</label>
      <input id="horarioAperturaModal" type="text" placeholder="Horario de Apertura" [(ngModel)]="terminal.horarioApertura" />
    </div>
    <div class="input-group">
      <label for="municipioModal">Municipio</label>
      <input id="municipioModal" type="text" placeholder="Municipio" [(ngModel)]="terminal.direccion.municipio" disabled/>
      <label for="horarioCierreModal">Horario de Cierre</label>
      <input id="horarioCierreModal" type="text" placeholder="Horario de Cierre" [(ngModel)]="terminal.horarioCierre" />
    </div>
    <div class="modal-buttons">
      <button class="uno" (click)="guardarCambios()"><i class='bx bxs-save'></i></button>
      <button class="dos" (click)="cerrarModal()"><i class='bx bx-x'></i></button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="modalRutaVisible" (click)=cerrarModalRuta()>
  <div class="modal-content">
    <h2>Detalles de la Ruta</h2>
    <div *ngIf="rutaSeleccionada">
      <p><strong>Ruta:</strong> {{ rutaSeleccionada.nombre }}</p>
      <p><strong>Origen:</strong> {{ rutaSeleccionada.origin }}</p>
      <p><strong>Destino:</strong> {{ rutaSeleccionada.destination }}</p>
      <iframe *ngIf="selectedRutaUrl"
        [src]="selectedRutaUrl | safeUrl"
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen>
      </iframe>
    </div>
    <div class="modal-buttons">
    </div>
  </div>
</div>
</div>