<h1>Terminal</h1>
<div class="terminales">
  <div class="terminal-container">
    <div class="form-fields">
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <input type="text" placeholder="Nombre" [(ngModel)]="terminal.nombre" disabled="true"/>
        <input type="text" placeholder="Num Exterior" [(ngModel)]="terminal.direccion.num" disabled="true"/>
      </div>
      <div class="input-group" *ngIf="terminal?.direccion">
        <input type="text" placeholder="Codigo postal" [(ngModel)]="terminal.direccion.cp" disabled="true" />
        <input type="text" placeholder="Estado" [(ngModel)]="terminal.direccion.estado" disabled="true" />
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <input type="text" placeholder="Calle" [(ngModel)]="terminal.direccion.calle" disabled="true"/>
        <input type="text" placeholder="Teléfono" [(ngModel)]="terminal.telefono" disabled="true"/>
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <input type="text" placeholder="Colonia" [(ngModel)]="terminal.direccion.colonia" disabled="true"/>
        <input type="text" placeholder="Horario de apertura" [(ngModel)]="terminal.horarioApertura" disabled="true" />
      </div>
      <div class="input-group" *ngIf="terminal && terminal.direccion">
        <input type="text" placeholder="Municipio" [(ngModel)]="terminal.direccion.municipio" disabled="true" />
        <input type="text" placeholder="Horario de cierre" [(ngModel)]="terminal.horarioCierre"  disabled="true"/>
      </div>
      <div class="buttons">
        <button type="button" class="carlist" [routerLink]="['/unidadeslist', terminal.id]">Ver unidades</button>
        <button type="button" class="edit" (click)="abrirModal()">Editar</button>
        <button type="button" class="delete" (click)="eliminarTerminal()">Eliminar</button>
      </div>
    </div>
    <div class="map-container">
      <h3>Ubicación en el mapa</h3>
      <p>Calle San Juan, 5 de Mayo, Suchiapa, Chiapas</p>
      <img src="https://via.placeholder.com/300x200" alt="Mapa de ubicación" />
    </div>
  </div>
</div>

<div class="modal" *ngIf="modalVisible">
  <div class="modal-content">
    <h2>Editar Terminal</h2>
    <div class="input-group" *ngIf="terminal && terminal.direccion">
      <input type="text" placeholder="Nombre" [(ngModel)]="terminal.nombre" />
      <input type="text" placeholder="Num Exterior" [(ngModel)]="terminal.direccion.num" />
    </div>
    <div class="input-group" *ngIf="terminal?.direccion">
      <input type="text" placeholder="Codigo Postal"[(ngModel)]="terminal.direccion.cp"/>
      <input type="text" placeholder="Estado"[(ngModel)]="terminal.direccion.estado">
    </div>
    <div class="input-group" *ngIf="terminal && terminal.direccion">
      <input type="text" placeholder="Calle" [(ngModel)]="terminal.direccion.calle" />
      <input type="text" placeholder="Teléfono" [(ngModel)]="terminal.telefono" />
    </div>
    <div class="input-group" *ngIf="terminal && terminal.direccion">
      <input type="text" placeholder="Colonia" [(ngModel)]="terminal.direccion.colonia" />
      <input type="text" placeholder="Horario de apertura" [(ngModel)]="terminal.horarioApertura" />
    </div>
    <div class="input-group" *ngIf="terminal && terminal.direccion">
      <input type="text" placeholder="Municipio" [(ngModel)]="terminal.direccion.municipio" />
      <input type="text" placeholder="Horario de cierre" [(ngModel)]="terminal.horarioCierre" />
    </div>
    <div class="modal-buttons">
      <button (click)="guardarCambios()">Aceptar</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
