<h1>Agregar Terminal</h1>
<div class="add-terminal-container">
  <div class="form-container">
    <div class="form-fields">
      <div class="input-group">
        <input type="text" placeholder="Nombre de la Terminal" [(ngModel)]="terminalData.nombre" >
        <input type="text" placeholder="Num Exterior" [(ngModel)]="terminalData.num">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Codigo Postal" [(ngModel)]="terminalData.cp" (blur)="obtenerColoniasPorCP()">
        <input type="text" placeholder="Calle" [(ngModel)]="terminalData.calle">

      </div>
      <div class="input-group">
        <input type="text" placeholder="Estado" [(ngModel)]="terminalData.estado" disabled>
        <input type="text" placeholder="Municipio" [(ngModel)]="terminalData.municipio" disabled>
      </div>

      <div class="input-group">
        <select [(ngModel)]="terminalData.colonia"  aria-placeholder="">
          <option value="" disabled selected>Seleccionar Colonia</option>
          <option *ngFor="let colonia of colonias" [value]="colonia">{{ colonia }}</option>
        </select>
        <input type="text" placeholder="Teléfono" [(ngModel)]="terminalData.telefono">

      </div>
      <div class="input-group">
        <input type="text" placeholder="Horario de apertura" [(ngModel)]="terminalData.horarioApertura" (blur)="validarHorario('apertura')">
        <input type="text" placeholder="Horario de cierre" [(ngModel)]="terminalData.horarioCierre" (blur)="validarHorario('cierre')">      </div>
      
      <div class="input-group">
        <select [(ngModel)]="terminalData.ruta_id" aria-placeholder="Rutas">
          <option *ngFor="let ruta of rutas" [value]="ruta._id">{{ ruta.nombre }}</option>
        </select><button class="add-button" (click)="agregarTerminal()">Agregar</button>
      </div>  
    </div>

  </div>
</div>
