<h1>Mis Unidades</h1> 
<div class="unidades">
  <div class="unidades-horario">
    <h2>Horario</h2>
  </div>
  <div class="container">
    <h2>Unidades de la Terminal</h2><button routerLink="/paradas">Boton paradas xd</button>
    <div class="unidades-container">
      <div
        *ngFor="let unidad of unidades"
        class="card"
        (click)="verUnidadDetalle(unidad.id)"
      >
      <div *ngIf="unidad.imagen_url" class="mainimg">
        <img [src]="unidad.imagen_url" alt="Imagen de la unidad" class="imgMainContainer" />
      </div>
        <h3>Unidad {{ unidad.numPlaca }}</h3>
      </div>
      <div *ngIf="mensaje" class="mensaje">
        <p>{{ mensaje }}</p>
      </div>
    </div>
    <div class="buttons">
      <button (click)="abrirModal()">Agregar Unidad</button>
      <button>Lista de choferes</button>
    </div>
  </div>
</div>
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>Agregar Nueva Unidad</h2>
    <form (ngSubmit)="agregarUnidad()" #unidadForm="ngForm">
      <div class="part1">
        <div>
          <label for="Folio">Folio:</label>
          <input type="text" id="folio" name="folio" required />
        </div>
        <div>
          <label for="numPlaca">Número de Placa:</label>
          <input
            type="text"
            id="numPlaca"
            name="numPlaca"
            [(ngModel)]="unidad.numPlaca"
            required
          />
        </div>
        <div>
          <label for="modelo">Modelo:</label>
          <input
            type="text"
            id="modelo"
            name="modelo"
            [(ngModel)]="unidad.modelo"
            required
          />
        </div>
        <div>
          <label for="marca">Marca:</label>
          <select
            type="text"
            id="marca"
            name="marca"
            [(ngModel)]="unidad.marca"
            required
            >
            <option value="Nissan">Nissan</option>
            <option value="Toyota">Toyota</option>
          </select>
        </div>
      </div>
      <div class="part2">
        <div>
          <label for="fechaCompra">Fecha de Compra:</label>
          <input
            type="date"
            id="fechaCompra"
            name="fechaCompra"
            [(ngModel)]="unidad.fecha_compra"
            required
          />
        </div>
        <div>
          <div>
            <label for="status">Estado de la Unidad:</label>
            <select
              id="status"
              name="status"
              [(ngModel)]="unidad.status"
              required
            >
              <option value="Lleno">Lleno</option>
              <option value="inactivo">Inactivo</option>
              <option value="mantenimiento">Mantenimiento</option>
            </select>
          </div>
          <div>
            <label for="imagen">Imagen:</label>
            <input
              type="file"
              id="imagen"
              name="imagen"
              #fileInput
              required
            />
          </div>
          
        </div>
        <div class="buttons2">
          <button
            type="submit"
            [disabled]="!unidadForm.form.valid"
            class="addingbutton"
          >
            Agregar Unidad
          </button>
          <button (click)="cerrarModal()" class="cancelbutton">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showModalEditar">
  <div class="modal-content">
    <h2>Editar Unidad</h2>
    <form (ngSubmit)="editarUnidad()" #unidadForm="ngForm">
      <div class="part1">
        <div>
          <label for="Folio">Folio:</label>
          <input type="text" id="folio" [value]="selectedUnidad?.id" name="folio" disabled />
        </div>
        <div>
          <label for="numPlaca">Número de Placa:</label>
          <input
            [value]="selectedUnidad?.numPlaca"
            type="text"
            id="numPlaca"
            name="numPlaca"
            [(ngModel)]="unidad.numPlaca"
            required
          />
        </div>
        <div>
          <label for="modelo">Modelo:</label>
          <input
            [value]="selectedUnidad?.modelo"
            type="text"
            id="modelo"
            name="modelo"
            [(ngModel)]="unidad.modelo"
            required
          />
        </div>
        <div>
          <label for="marca">Marca:</label>
          <input
            [value]="selectedUnidad?.marca"
            type="text"
            id="marca"
            name="marca"
            [(ngModel)]="unidad.marca"
            required
          />
        </div>
      </div>
      <div class="part2">
        <div>
          <label for="fechaCompra">Fecha de Compra:</label>
          <input
            [value]="selectedUnidad?.fecha_compra"
            type="date"
            id="fechaCompra"
            name="fechaCompra"
            [(ngModel)]="unidad.fecha_compra"
            required
          />
        </div>
        <div>
          <div>
            <label for="status">Estado de la Unidad:</label>
            <select
              [value]="selectedUnidad?.status"
              id="status"
              name="status"
              [(ngModel)]="unidad.status"
              required
            >
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
              <option value="mantenimiento">Mantenimiento</option>
            </select>
          </div>
        </div>
        <div class="photocontainer">
          <div class="add2">
            <button class="noselecto" type="button">
              <span class="text">Editar imagen</span>
            </button>
          </div>
          <div class="imgcontainer">
            <img *ngIf="unidad.imagen_url" [src]="unidad.imagen_url" alt="Imagen de la unidad" class="imagen-unidad" /> </div>
        </div>
      </div>
    </form>
    <div class="buttons3">
      <button (click)="editarUnidad()"
        type="submit"
        [disabled]="!unidadForm.form.valid"
        class="addingbutton"
      >
        Guardar cambios
      </button>
      
      <button (click)="eliminarUnidad()" class="deletebutton">Eliminar</button>
      <button (click)="cerrarModal()" class="cancelbutton2">Cerrar</button>
    </div>
  </div>
</div>