.footer{
    background-color: #3262A3;
    height: 100px;
    bottom: 0;
    margin-top: 50px;
    justify-content:center;
   align-items: center;
    display: flex;
    gap:300px;
    padding: 2vw;
    color: white;
}

.part1{
    width: 200px;
    text-align: justify;
}



.part3{
    width: 200px;
    text-align: justify;
}